.footerWrapper{
    position: static;
    bottom: 0;
    background-color: rgb(230, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 20px auto;
    width: 100%;
}