.Header {
  background: rgba(0,0,0, 0);
  padding: 15px 20px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  z-index: 3;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.HeaderScrolled {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0, 0.8);
  padding: 15px 20px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  z-index: 3;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.HeaderScrolled .Button{
  font-size: 16px;
  font-weight: 700;
  box-shadow: none;
  color: white;
  text-rendering: optimizeLegibility;
  padding: 8px 20px;
  border-bottom: 3px solid rgba(1,1,1,0);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  outline: none;
  margin: 0 20px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}
.HeaderScrolled .ButtonOnFocus{
  font-size: 20px;
  font-weight: 700;
  box-shadow: none;
  color: white;
  text-rendering: optimizeLegibility;
  padding: 8px 20px;
  border-bottom: 3px solid rgba(255,255,255, 1);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  outline: none;
  margin: 0 20px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}
.HeaderGroup {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: flex-end;
}
.Header a {
  color: black;
  font-weight: 700;
}

.LogoutButton{
  padding: 8px 20px;
  font-size: 20px;
  background: #56CCF2;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.LogoutButton:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  transform: translateY(-3px);
}

.Header .Button {
  font-size: 16px;
  font-weight: 700;
  box-shadow: none;
  color: black;
  text-rendering: optimizeLegibility;
  padding: 8px 20px;
  border-bottom: 3px solid rgba(1,1,1,0);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  outline: none;
  margin: 0 20px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}
.Logo {
  font-weight: 700;
  box-shadow: none;
  color: white;
  text-rendering: optimizeLegibility;
  padding: 0px 30px;
  margin: 0 20px;
  z-index: 3;
}
.Header .ButtonOnFocus {
  font-size: 20px;
  font-weight: 700;
  box-shadow: none;
  color: black;
  text-rendering: optimizeLegibility;
  padding: 8px 20px;
  border-bottom: 3px solid rgba(1,1,1, 1);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  outline: none;
  margin: 0 20px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

.Button:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.onFocus {
  cursor: pointer;
  border-bottom: 3px solid white;
}


@media (max-width: 640px) {
  .Header {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .HeaderGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    right: 0; 
  }
  .Button {
    font-size: 14px;
    padding: 5px 5px;
  }
  .Logo {
    display: none;
  }
  .ButtonOnFocus {
    font-size: 14px;
    padding: 8px 5px;
  }
  .LogoutButton{
    padding:10px;
    font-size: 14px;
  }
}