body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  position: relative;
  height: 100%;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600;
}


.Cards h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px auto;
  padding-bottom: 100px;
  max-width: 950px;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
  
}

.ButtonGroup {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.SingleItem h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SingleItem{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  height: 100%;
}

.SingleItems {
  margin: 50px auto;
  max-width: 950px;
  min-height: 100vh  ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-self: center;
}

.Profile {
  margin: 50px auto;
  justify-content: center;
  align-self: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
  .SingleItems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}